name: ci-main

on:
  push:
    branches:
      - main 
    tags:
      - v*.*

env:
  # TODO: change user tag to company one
  VERSION: 
  LATEST_TAG: leonng49/pci-website-new:latest

jobs:
  docker:
    runs-on: ubuntu-20.04
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.LATEST_TAG }}
